.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading img{
    width:50px;
    border-radius: 50px;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.productList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.productCard{
    display: flex;
    flex-direction: column;
}

.top img {
    width: 1fr;
    height: 250px;
    object-fit: cover;
}