body {
    background-color: rgb(34, 63, 63);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form form{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;

}

#taskInput{
    padding: 1em;
    width: 300px;
    border-radius: 8px;
}

#submitBtn{
    padding: 1em;
    border-radius: 8px;
    background-color: rgb(34, 63, 63);
}

.list {
    padding: 2em;
    width: 500px;
    border-radius: 8px;
    border: 1px solid #ffffff;
}

.list li{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: start;
    border: 1px solid #ffffff;
}

.list li span{
    width: 1fr;
}

.list li button {
    width: 1fr;
}